.wesh {
    background-color:yellow;
}

.loader-position {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toast-position {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
